// Place all the styles related to the Matters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#matters{
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 12px solid black;
}
table#matters th {
  border: 12px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#matters th, table#matters td {
  padding: 4px;
  text-align: left;
}